.App {
    font-family: sans-serif;
    padding: 50px;
}
.Timebox {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto 10px;
    background-color: greenyellow;
}
.TimeboxEditor, .TimeboxCreator {
    max-width: 400px;
    text-align: right;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}
.TimeboxCreator {
    background-color: aqua;
}
.TimeboxEditor {
    background-color: aquamarine;
}
.TimeboxEditor::before {
    width: 60px;
    height: 60px;
    content: "";
    background: url("../images/tomato-icon.png");
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}
.CurrentTimebox {
    background-color: #ffffaa;
}
label {
    font-weight: bold;
}
input {
    min-width: 60%;
    max-width: 90%;
    margin: 0 0 14px 5px;
    font-size: 16px;
}
button {
    font-size: 16px;
    margin-left: 10px;
}
.CurrentTimebox {
    max-width: 400px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
.Clock {
    color: orangered;
    font-weight: bold;
    margin: 0 auto 20px;
    width: max-content;
}
.ProgressBar {
    border-radius: 3px;
    height: 25px;
    margin-bottom: 20px;
    padding: 0;
    background: orangered;
    background-clip: content-box;
    position: relative;
}
.ProgressBar:before {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border: 1px solid orangered;
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 0;
}
.inactive {
    filter: blur(2px) grayscale(1);
}
.invisible {
    display: none;
}
h1 {
    text-align: center;
}
.orangered {
    color: orangered;
}
.timeisup {
    color: white;
    background: red;
    background-clip: content-box;
}