@import "../variables.scss";
@import "../utilities.scss";

.Clock {
    color: $main-color;
    font-weight: bold;
    margin: 0 auto 20px;
    padding: 5px 10px;
    width: max-content;
    max-width: 90%;
    border-radius: $border-radius;
}