.Clock {
    color: $main-color;
    font-weight: bold;
    margin: 0 auto 20px;
    width: max-content;
    &__hours{
        color: darken($main-color, 10%);
    }
    &__minutes {
        color: darken($main-color, 20%);
    }
    &__seconds {
        color: darken($main-color, 30%);
    }
    &__colon {
        color: grey;
    }
    &--over {
        color: white;
        background-color: red;
    }
}