@import "../variables.scss";
@import "../utilities.scss";

.CurrentTimebox {
    max-width: 400px;
    border-radius: $border-radius;
    box-shadow: 5px 5px 10px $shadow, -5px -5px 10px $light;
    padding: 24px;
    text-align: center;
    margin: 0 auto;
    background-color: $timebox-background;
    color: $main-color;
}