@import "../variables.scss";
@import "../utilities.scss";

.CurrentTimebox {
    max-width: 400px;
    border: $default-border;
    border-radius: $border-radius;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    background-color: #ffffaa;
}