@import "../variables.scss";

.TimeboxCreator {
    background-color: aqua;
    max-width: 400px;
    text-align: right;
    border: $default-border;
    border-radius: $border-radius;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}