@import "../variables.scss";
@import "../utilities.scss";

.TimeboxEditor {
    background-color: aquamarine;
    max-width: 400px;
    text-align: right;
    border: $default-border;
    border-radius: $border-radius;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}